.popup {
  position: absolute;
  height: 150px;
  width: 400px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}